{% extends 'base.html' %}

{% block main %}

 <div class="rounded shadow p-3 mt-5">
     <h3>Edit {{movie.title}}</h3>
     <hr/>
     {% if msg %}
     <p class="p-4 alert alert-info">
         {{msg}}

     </p>
     {% endif %}
        <form action="/edit/{{movie.title}}" method="post">

            <label for="year">Release Year</label> 
            <input type="text" value="{{movie.title}}"  name="year" class="form-control" />
            
            <label for="budget">Budget</label>
            <input type="text" value="{{movie.budget}}" method="post">

            <label for="title">Movie Title</label>
            <input type="text" value="{{movie.title}}"  name="budget" id="budget" class="form-control" />

            <label for="budget">Cast</label>
            <input type="text" 
             value="{{movie.budget}}" 
            name="cast" 
            id="cast" 
            class="form-control"
            placeholder="who are the main cast. separate with a comma" />

            <botton type="submit" class="btn btn-sm btn-success mt-3"  />

            <span  class="fa fa-save"></span>
            Update Movie
        </botton>

            <a href="/" class=" btn btn-sm btn-primary mt-3">
                <span class="fa fa-arrow-left"></span>
                Go back
            </a>
          
          </form>

    </div>

{% endblock %}